<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Livro</title>
</head>
<body>

    <div layout:fragment="conteudo">
        <h1>Cadastro de livro</h1>

        <form method="post" action="/livros">

            <input type="hidden" name="_method" value="put" th:if="${livro != null}">
            <input type="hidden" name="id" th:value="${livro?.id}">

            <div class="mb-3">
                <label class="form-label" for="nome">NOME DO LIVRO</label>
                <input class="form-control" id="nome" name="nome" th:value="${livro?.nome}">
            </div>

            <br>

            <div class="mb-3">
                <label class="form-label" for="autor">NOME DO AUTOR</label>
                <input class="form-control" id="autor" name="autor" th:value="${livro?.autor}">
            </div>

            <br>

            <div class="mb-3">
                <label class="form-label" for="edicao">EDIÇÃO</label>
                <input class="form-control" id="edicao" name="edicao" th:value="${livro?.edicao}">
            </div>

            <br>

            <div class="mb-3">
                <label class="form-label" for="publicacao">ANO PUBLICAÇÃO</label>
                <input class="form-control" id="publicacao" name="publicacao" th:value="${livro?.publicacao}">
            </div>

            <br>

            <input class="btn btn-primary" type="submit" value="Cadastrar Livro">
        </form>
    </div>
</body>
</html>