<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Devolver Livro</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Devolver Livro</h1>

        <div>
            <span>Livro Locado</span>
            <input disabled>

            <br>

            <span>Aluno Locador</span>
            <input disabled>

        </div>

        <from>

            <label></label>
            <input type="hidden">

            <label for="devolucao">Data: </label>
            <input id="devolucao" name="devolucao" type="date">
        </from>
    </div>
</body>
</html>