<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Devolver Livro</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Devolver Livro</h1>

        <div>
            <span>Livro Locado</span>
            <input th:value="${locacao.getLivro().getNome()}" disabled>

            <br>

            <span>Aluno Locador</span>
            <input th:value="${locacao.getAluno().getNome()}" disabled>

        </div>

        <form method="post" action="/locacoes/devolverLivro">

            <label for="locacao"></label>
            <input th:value="${locacao.getId()}" id="locacao" name="locacao" type="hidden">

            <label for="devolucao">Data: </label>
            <input id="devolucao" name="devolucao" type="date">

            <input type="Submit" value="Devolver Livro">
        </form>
    </div>
</body>
</html>