<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Devolver Livro</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Devolver Livro</h1>

        <div>
            <div class="mb-3">
                <label class="form-label">Livro Locado</label>
                <input class="form-control" th:value="${locacao.getLivro().getNome()}" disabled>
            </div>

            <br>

            <div class="mb-3">
                <label class="form-label">Aluno Locador</label>
                <input class="form-control" th:value="${locacao.getAluno().getNome()}" disabled>
            </div>

        </div>

        <form method="post" action="/locacoes/devolverLivro">

            <label for="locacao"></label>
            <input th:value="${locacao.getId()}" id="locacao" name="locacao" type="hidden">

            <div class="mb-3">
                <label class="form-label" for="devolucao">Data: </label>
                <input id="devolucao" name="devolucao" type="date">
            </div>

            <input class="btn btn-primary" type="Submit" value="Devolver Livro">
        </form>
    </div>
</body>
</html>