<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Acervo</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Acervo de livros</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">NOME DO LIVRO</th>
                    <th scope="col">AUTOR</th>
                    <th scope="col">EDIÇÃO</th>
                    <th scope="col">DATA PUBLICAÇÃO</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" th:each="livro : ${livros}">
                    <td th:text="${livro.nome}"></td>
                    <td th:text="${livro.autor}"></td>
                    <td th:text="${livro.edicao}"></td>
                    <td th:text="${livro.publicacao}"></td>
                    <td th:text="${livro.status}"></td>
                    <td>

                        <a class="btn btn-primary" th:if="${livro.status} == LOCADO" th:href="@{/locacoes/devolverLivro?idLivro={idLivro}(idLivro=${livro.id})}">Devolver Livro</a>

                        <a class="btn btn-primary" th:href="@{/livros/cadastroLivro?id={id}(id=${livro.id})}">Editar</a>

                       <form action="/livros" method="POST">
                           <input type="hidden" name="_method" value="delete">
                           <input type="hidden" name="id" th:value="${livro.id}">
                           <input class="btn btn-primary" type="submit" value="Excluir">
                       </form>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>