<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Locar Livro</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Locar Livro</h1>

        <form method="post" action="/locacoes/locarLivro">

            <div class="mb-3">
            <label class="form-label" for="idAluno">Aluno:</label>
            <select class="form-select" aria-label="Default" id="idAluno" name="idAluno">
                <option th:each="aluno : ${alunos}" th:text="${aluno.nome} + ' | Curso: ' + ${aluno.curso}" th:value="${aluno.id}"></option>
            </select>
            </div>
            <br>

            <div class="mb-3">
                <label class="form-label" for="idLivro">Livro:</label>
                <select class="form-select" aria-label="Default" id="idLivro" name="idLivro">
                    <option th:if="${livro.status == 'DISPONIVEL'}" th:each="livro : ${livros}" th:text="${livro.nome} + ' | Edição: ' + ${livro.edicao}" th:value="${livro.id}"></option>
                </select>
            </div>

            <br>

            <input class="btn btn-primary" type="Submit" value="Locar Livro">
        </form>
    </div>
</body>
</html>