<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Aluno</title>
</head>
<body>

<a href="/livros">Livros</a>
<a href="/livros/cadastroLivro">Cadastro Livro</a>
<a href="/locacao">Locar Livro</a>
<a href="/alunos">Alunos</a>
<a href="/alunos/cadastroAluno">CadastroAluno</a>

    <h1>Cadastro de Aluno</h1>

    <form method="post" action="/alunos">

        <input type="hidden" name="_method" value="put" th:if="${aluno != null}">
        <input type="hidden" name="id" th:value="${aluno?.id}">

        <label for="nome">Nome Completo:</label>
        <input id="nome" name="nome" th:value="${aluno?.nome}">

        <br>

        <label for="celular">Celular:</label>
        <input id="celular" name="celular" th:value="${aluno?.celular}">

        <br>

        <label for="curso">Curso:</label>
        <input id="curso" name="curso" th:value="${aluno?.curso}">

        <br>
        <label for="fase">Fase:</label>
        <input id="fase" name="fase" th:value="${aluno?.fase}">

        <br>

        <input type="submit">
    </form>
</body>
</html>