<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Novo Aluno</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Cadastro de Aluno</h1>

        <form method="post" action="/alunos">


            <input type="hidden" name="_method" value="put" th:if="${aluno != null}">
            <input type="hidden" name="id" th:value="${aluno?.id}">

            <div class="mb-3">
                <label for="nome" class="form-label">NOME COMPLETO</label>
                <input class="form-control" id="nome" name="nome" th:value="${aluno?.nome}">
            </div>

            <br>

            <div class="mb-3">
                <label for="celular" class="form-label">CELULAR</label>
                <input class="form-control" id="celular" name="celular" th:value="${aluno?.celular}">
            </div>
            <br>

            <div class="mb-3">
                <label class="form-label" for="curso">CURSO</label>
                <input class="form-control" id="curso" name="curso" th:value="${aluno?.curso}">
            </div>

            <br>

            <div class="mb-3">
                <label class="form-label" for="fase">FASE</label>
                <input class="form-control" id="fase" name="fase" th:value="${aluno?.fase}">
            </div>
            <br>

            <input class="btn btn-primary" type="submit">
        </form>
    </div>
</body>
</html>