<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Alunos Cadastrados</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Alunos Cadastrados</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">NOME COMPLETO</th>
                    <th scope="col">CELULAR</th>
                    <th scope="col">CURSO</th>
                    <th scope="col">FASE</th>
                    <th scope="col">AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" th:each="aluno : ${alunos}">
                    <td th:text="${aluno.nome}"></td>
                    <td th:text="${aluno.celular}"></td>
                    <td th:text="${aluno.curso}"></td>
                    <td th:text="${aluno.fase}"></td>

                    <td>

                        <a class="btn btn-primary" th:href="@{/alunos/cadastroAluno?id={id}(id=${aluno.id})}">Editar</a>

                        <form action="/alunos" method="POST">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="id" th:value="${aluno.id}">
                            <input class="btn btn-primary" type="submit" value="Excluir">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>