html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    width: 75%;
}

td > form {
    display: inline;
}

h1 {
    color: white;
    background-color: lightblue;
}

#nav-bar-menu {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: lightblue;
}

#nav-bar-menu-link-1 {
    color: white;
    border: 1px solid white;

}

#nav-bar-menu-link-2 {
    color: white;
    border: 1px solid white;
}

#nav-bar-menu-item-1 {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#nav-bar-menu-item-2 {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

img {
    width: 250px;
    height: 200px;
}