<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro de Alunos</title>
    </head>
    <body>
        <h1>Cadastro de Aluno</h1>

        <form method="post" action="/cadastroAluno">
            <label for="nome">Nome Completo:</label>
            <input id="nome" name="nomeAluno">
<br>
            <label for="celular">Celular:</label>
            <input id="celular" name="celular">
<br>
            <label for="curso">Curso:</label>
            <input id="curso" name="curso">
<br>
            <label for="fase">Fase:</label>
            <input id="fase" name="fase">
<br>
            <input type="submit" value="Cadastrar">
        </form>
    </body>
</html>