<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro de Livros</title>
    </head>
    <body>
        <h1>Cadastro de Livro</h1>

        <form>
            <label for="nomeLivro">Nome do Livro:</label>
            <input id="nomeLivro" name="nomeLivro">
<br>
            <label for="autor">Autor:</label>
            <input id="autor" name="autor">
<br>
            <label for="edicao">Edição:</label>
            <input id="edicao" name="edicao">
<br>
            <label for="ano">Ano Publicação:</label>
            <input id="ano" name="ano">
<br>
            <input type="submit" value="Cadastrar">
        </form>
    </body>
</html>