<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Herbarium Home</title>
    </head>
    <body>
        <h1>Herbarium</h1>
            <nav>
                <button>
                    <a href="/home">Visualizar Acervo</a>
                </button>
                <button>
                    <a href="/cadastroLivro">Cadastrar Livro</a>
                </button>
                <button>
                    <a href="/cadastroAluno">Cadastrar Aluno</a>
                </button>
            </nav>
        <h2>Acervo</h2>
            <table>
                <thead>
                    <tr>Nome do Livro</tr>
                    <tr>Autor</tr>
                    <tr>Edição</tr>
                    <tr>Ano de Publicação</tr>
                    <tr>Status</tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    </body>
</html>